/* CSS Document */

/* ******* OFFER BOX ******* */



.rdc_box_offer {
	padding: 10px;
	background-color: #FFFFFF; 
	-webkit-border-radius: 6px; 
	-moz-border-radius: 6px; 
	-o-border-radius: 6px; 
	-ms-border-radius: 6px; 
	-khtml-border-radius: 6px;
	border-radius: 6px;
	border: 1px solid #D6D4CE;
	position: relative;
}
.rdc_box_offer.bottom_margin {margin-bottom: 12px}
.rdc_box_offer > .left {width: 100px; float: left;}
/*.rdc_box_offer > .left {width: 100px; float: left;padding: 0 0 0 0; display: none; }*/

/*.rdc_box_offer > .right {}*/
.rdc_box_offer > .right {width: 510px; float: right; padding-left: 10px; border-left: 1px #E1E1E1 solid;}
.rdc_box_offer > .right > h3 {min-height: 46px;font-size: 18px;text-decoration: underline; font-weight: bold;margin-bottom: 8px;margin-top: 0;background-color: transparent; line-height: 1.4em; color:#09F;}
.rdc_box_offer > .right > h3 > a.click_title {height: 40px;font-size: 1em;font-weight: bold;margin-bottom: 8px;margin-top: 0;background-color: transparent; line-height: 1.4em; color:#09F;}
.rdc_box_offer > .right > h3 > a.click_title:visited {color:#09F;}
.rdc_box_offer > .right > h3 > a.click_title:hover {text-decoration: none;}

.rdc_box_offer > .right > h3 > a.click_title_deal {height: 40px;font-size: 1em;font-weight: bold;margin-bottom: 8px;margin-top: 0;background-color: transparent; line-height: 1.4em; color:#09F;}
.rdc_box_offer > .right > h3 > a.click_title_deal:visited {color:#09F;}
.rdc_box_offer > .right > h3 > a.click_title_deal:hover {text-decoration: none;}

.rdc_box_offer > .right > .box_instructions {margin-top: 12px;display: none;}

.rdc_box_offer > .right > .info_date {font-size: 12px; color: #666; margin-bottom: 6px;}
/* http://www.cssbuttongenerator.com/ */
.rdc_box_offer > span > .rdc_box_button {
	/*width: 408px;*/
	display:block;
	/*padding:8px 20px;*/
	padding-top: 8px;
	padding-bottom: 8px;
	-moz-box-shadow:inset 0px 1px 0px 0px #caefab;
	-webkit-box-shadow:inset 0px 1px 0px 0px #caefab;
	box-shadow:inset 0px 1px 0px 0px #caefab;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #77d42a), color-stop(1, #5cb811) );
	background:-moz-linear-gradient( center top, #77d42a 5%, #5cb811 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#77d42a', endColorstr='#5cb811');
	background-color:#77d42a;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #268a16;
	
	color:#ffffff;
	font-family:Arial;
	font-size: 1.1em;
	font-weight:bold;
	
	text-decoration:none;
	text-align: center;
}
.rdc_box_offer > span > .rdc_box_button:hover, .rdc_box_offer > span > .rdc_box_button_deal:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #5cb811), color-stop(1, #77d42a) );
	background:-moz-linear-gradient( center top, #5cb811 5%, #77d42a 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#5cb811', endColorstr='#77d42a');
	background-color:#5cb811;
}
.rdc_box_offer > span > .rdc_box_button:active, .rdc_box_offer > span > .rdc_box_button_deal:active {
	position:relative;
	top:1px;
}

/* http://www.bestcssbuttongenerator.com/ */

.rdc_box_offer > span > .rdc_box_code {
        
		display:block;
		/*margin-bottom: 12px;*/
        -moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
        -webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
        box-shadow:inset 0px 1px 0px 0px #ffffff;
        
        background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ffffff), color-stop(1, #f6f6f6));
        background:-moz-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
        background:-webkit-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
        background:-o-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
        background:-ms-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
        background:linear-gradient(to bottom, #ffffff 5%, #f6f6f6 100%);
        filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#f6f6f6',GradientType=0);
        
        background-color:#ffffff;
        
        -moz-border-radius:6px;
        -webkit-border-radius:6px;
        border-radius:6px;
        
        border:1px solid #dcdcdc;
        
        color:#666666;
        font-family:arial;
        font-size:15px;
        font-weight:bold;
        padding-top: 8px;
		padding-bottom: 8px;
        text-decoration:none;
        text-align: center;
        text-shadow:0px 1px 0px #ffffff;
        
    }

/* **** MISC **** */

.slideSign{
	color:#f00;
}

/* **** MOBILE **** */

@media only screen and (max-device-width: 680px) {

.rdc_box_offer > .left {width: 100px; float: left;padding: 0 0 0 0; display: none; }
.rdc_box_offer > .right {width: 100%;float: left;padding-left: 0; border-left: 0px #E1E1E1 solid;}
	
}

